# 1. 제시된 변수 '원주율'의 결과값이 정수 자리까지만 출력되도록 코드를 완성해보세요.

In [1]:
원주율 = 3.141592

# 2. 인사말을 완성할 수 있도록 아래 코드를 완성해주세요.

In [2]:
my_name = ''

print('안녕하세요. 제 이름은 {} 입니다.'.format(my_name))

안녕하세요. 제 이름은  입니다.

# 3. 아래 코드의 출력값이 3이 나올 수 있도록, 코드를 작성해보세요.

In [3]:
a = '1'
b = '2'
# 이 셀은 수정하지 않습니다.

In [4]:
# 아래에 코드를 작성해주세요.


print(a + b)

12

# 4. 다음 문자열의 '별'이 '달'로 바뀌어 출력되도록, 코드를 완성해보세요.

In [5]:
sketch = '''어제는 별이 졌다네 나의 가슴이 무너졌네
별은 그저 별일 뿐이야 모두들 내게 말하지만
오늘도 별이 진다네 아름다운 나의 별 하나
별이 지면 하늘도 슬퍼 이렇게 비만 내리는 거야
나의 가슴 속에 젖어오는 그대 그리움 만이
이 밤도 저 비 되어 나를 또 울리고
아름다웠던 우리 옛 일을 생각해 보면
나의 애타는 사랑 돌아올 것 같은데
나의 꿈은 사라져가고 슬픔 만이 깊어가는데
나의 별은 사라지고 어둠 만이 짙어가는데'''

print(sketch)

어제는 별이 졌다네 나의 가슴이 무너졌네
별은 그저 별일 뿐이야 모두들 내게 말하지만
오늘도 별이 진다네 아름다운 나의 별 하나
별이 지면 하늘도 슬퍼 이렇게 비만 내리는 거야
나의 가슴 속에 젖어오는 그대 그리움 만이
이 밤도 저 비 되어 나를 또 울리고
아름다웠던 우리 옛 일을 생각해 보면
나의 애타는 사랑 돌아올 것 같은데
나의 꿈은 사라져가고 슬픔 만이 깊어가는데
나의 별은 사라지고 어둠 만이 짙어가는데

# 5. 아래 문자열이 총 몇글자로 이루어져있는지, 계산해보세요.

In [6]:
paragraph = '''
나라의 말이 중국과 달라 한문·한자와 서로 통하지 아니하므로
 이런 까닭으로 어리석은 백성이 이르고자 하는 바가 있어도 
 끝내 제 뜻을 능히 펴지 못하는 사람이 많다.
 내가 이를 위해 불쌍히 여겨 새로 스물여덟 글자를 만드니
 사람마다 하여금 쉬이 익혀 날마다 씀에 편안케 하고자 할 따름이다.
 '''

In [7]:
# 아래에 수식을 작성해주세요.
sentence_count = len(paragraph)

print(sentence_count)

169

# 6. 아래 노래 가사에서 '두치'가 몇 번 쓰여져 있는 지 계산해보세요.

In [8]:
lyrics = '''
한치두치세치네치 뿌꾸빵! 뿌꾸빵!
한치두치세치네치 뿌꾸뿌꾸빵빵!

달리는 두치 손 내밀면 잡을 수 있고
어려울 때 있어주는 내 친구 두치!
(뿌꾸뿌꾸 나도나도~)

작은 키라고 놀리면 난 정말 싫어
키는 작지만 깊은 생각 큰 꿈이 있어
(뿌꾸뿌꾸 나도나도~)

날마다 자라는 키만큼
날마다 꿈도 자란다
멋진 내 친구 두치와 귀여운 뿌꾸~

한치두치세치네치 뿌꾸빵! 뿌꾸빵!
한치두치세치네치 뿌꾸뿌꾸빵빵!

두치와 뿌꾸~
'''

In [9]:
# 이곳에 답안 코드를 작성해주세요.

lyrics.find('두치')

3

# 7. 아래 코드의 오류를 수정하고, 출력 되지 않았던 이유를 코드 아래에 주석으로 달아보세요.

In [10]:
# dic = {'a':'인화원', 2:'LG전자', '오산':'LG화학', 201234: 'LGCNS', [lim]:'LG상사'}
dic = {'a':'인화원', 2:'LG전자', '오산':'LG화학', 201234: 'LGCNS', 'lim':'LG상사'}
print(dic)
# 출력되지 않은 이유는?
# 리스트 [lim]이 정의되어 있지 않음.

{'a': '인화원', 2: 'LG전자', '오산': 'LG화학', 201234: 'LGCNS', 'lim': 'LG상사'}

# 8. 아래 두 변수들의 값이 맞바뀌어 (200, 40) tuple 형태로 출력되도록 코드를 완성해보세요.

In [11]:
va = 40
vb = 200

(vb, va)

(200, 40)

# 9. 아래 데이터는 어떤 농구선수의 경기 별 슛 성공 횟수입니다. 아래 값을 구해보세요.

In [12]:
shot_count = [7, 8, 4, 9, 11, 3, 2]

In [13]:
# 1) 모든 경기 슛 성공 횟수
sum(shot_count)

44

In [14]:
# 2) 가장 높은 성공 횟수
max(shot_count)

11

In [15]:
# 3) 가장 낮은 횟수
min(shot_count)

2

In [16]:
# 4) 오늘 경기에서 10회를 성공시켰다. 데이터를 추가하여 출력해보세요.
shot_count.append(10)
shot_count

[7, 8, 4, 9, 11, 3, 2, 10]

In [17]:
# 5) 오늘 경기 결과를 포함하여, 내림차순으로 정렬하여 출력해보세요.
shot_count.sort()
shot_count

[2, 3, 4, 7, 8, 9, 10, 11]

# 10. 다음은 학생들의 번호, 이름, 과목별 성적 데이터 입니다. 아래 값을 구해보세요.

In [18]:
mid_term = [
               {'num':'1','name':'노준규','kor':90,'eng':80,'math':85,},
               {'num':'2','name':'고강민','kor':90,'eng':85,'math':90,},
               {'num':'3','name':'김성대','kor':80,'eng':80,'math':80,}
           ]

In [19]:
# 세번째 학생의 이름을 출력해보세요.
mid_term[2]

{'num': '3', 'name': '김성대', 'kor': 80, 'eng': 80, 'math': 80}

In [20]:
# 노준규 학생의 국어 성적을 출력해보세요.
next(item for item in mid_term if item["name"] == "노준규")['kor']

90

In [21]:
# 고강민 학생의 성적 총점을 출력해보세요.
sum(list(next(item for item in mid_term if item["name"] == "고강민").values())[2:])

265